// Flexbox Safari Fallback Support
 @supports not (display:grid){
	 .grid__brand-info {
		 display: flex;
		 flex-flow: row wrap;
		 justify-content: flex-start;

		 .row-one,
		 .row-two,
		 .row-three {
			 flex: 0 1 33%;
		 }

		 .row-one{
			 &:nth-child(2){
				 flex-grow: 3;
			 }
		 }
	 }
 }

// CSS Grid -> Main Grid Framework I'm using
.grid__brand-info {
	grid-template-columns: 30%;
	grid-template-rows: 145px 145px 1fr;
}
 .box {
   h2 {
     font-family: $font-stack;
     font-weight: 500;
		 margin-top: 0;
   }
 }

 .row-one {
	 grid-row: 1;
 }

 .row-two {
	 grid-row: 2;
 }

.row-three {
	grid-row: 3;
}

.brand-carousel {
	background-image: none;
	overflow: hidden;
	padding: 0;
}

.brand-col {
	position: relative;
	overflow: hidden;
	width: 100%;

	@include sm-desktop {
		height: 486px;
	 }

	&:before {
		background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8));
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.attachment-carousel {
		width: 100%;
		object-fit: cover;
		min-height: 486px;
	 }

	.carousel-content {
		font-weight: 400;
		left: 0;
	  margin-left: auto;
	  margin-right: auto;
		position: absolute;
	  right: 0;
	  text-align: center;
		top: 50%;
		width: 45%;

		-webkit-transform: translateY(-50%);
						transform: translateY(-50%);

  			@include sm-desktop { width: 50%; }

		.logo {
			width: 250px;
			margin: 0 auto 27px auto;

			@include tablet { width: 200px; }
		}

		h4 {
			color: white;
			font-weight: 300;
			font-size: 29px;
			line-height: 40.5px;
			margin: 0 auto 27px;

			@include sm-desktop {
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 27px;
			}

			@include phablet { display: none; }
		}
	}
}

.grid__page-cases {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 15px;
}


.context {
  background-color: white;
  padding: 108px 0;
}

.context__contract{ padding-bottom: 0; }

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 30px;
  &.grid--our-approach{
    grid-template-columns: 47% 25%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 133px
  }
}

h3 {
  &.animate-pop-in {
    animation-delay: .25s;
  }
}

.our-approach__item--one {
  grid-column-start: 1;
  grid-row-start: 1;
  &::before {
    content: "1.";
    color: #C3D7DF;
    font-family: $heading-stack;
    font-size: 40px;
    left: -56px;
    position: relative;
    top: 62px;
  }
}

.our-approach__item--two {
  grid-column-start: 1;
  grid-row-start: 2;
  &::before {
    content: "2.";
    color: #C3D7DF;
    font-family: $heading-stack;
    font-size: 40px;
    position: relative;
    left: -56px;
    top: 62px;

  }
}

.our-approach__item--three {
  grid-column-start: 1;
  grid-row-start: 3;
  &::before {
    content: "3.";
    color: $light-blue;
    font-family: $heading-stack;
    font-size: 40px;
    left: -56px;
    position: relative;
    top: 62px;

  }
}

.our-approach__plus {
  p {
    color: lighten($base-color, 20%);
    margin-top: 123px;
  }
}

.our-approach__plus--one {
  grid-column-start: 2;
  grid-row-start: 1;
}

.our-approach__plus--two {
  grid-column-start: 2;
  grid-row-start: 2;
}

.our-approach__plus--three {
  grid-column-start: 2;
  grid-row-start: 3;
}
