// Case Studies Card

.card__case { margin-top: 27px; }

.card__case--page { margin-top: 0; }

.card-inline {
	background-color: transparent;
	border: 0;
	margin-bottom: 0;

	@include mobile { margin-bottom: 27px; }
}

.card-inline__info {
	margin-top: 27px;
	width: 100%;
	@include mobile {
		margin-top: 0px;
	}
}

.card__header {
	max-height: 246px;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.card-contact  {
	.card__header {
		max-height: 240px;
	}
}
