.block {
  &.cases {
    padding: 0;
  }
}

@supports not (display: grid) {
  .cases__row{
    .container {
      display: flex;
      align-items: top;
      justify-content: center;
    }

    h3 { letter-spacing: -.75px; }
  }

  .cases__row--home {
    .container {
      div {
        flex: 0 0 calc(33% - #{$gap}/2);
        margin: $gap/4;
      }
    }
  }

  .cases__row--page {
    .card-inline {
      flex: 0 0 calc(33% - #{$gap});
      margin: $gap/2;
    }
  }

  .cases__row--archive {
    .container {
      flex-wrap: wrap;
      justify-content: left;
    }

    .card-inline {
      flex: 0 0 calc(33% - #{$gap});
      margin: $gap/2;
    }
  }
}

.cases__row {
  background-color: $bg-color;
  padding: 108px 0 108px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      display: block;
    }
  }

  .btn {
    margin: 0 auto;
  }
}

.cases__row--digital,
.cases__row--event,
.cases__row--print { background-color: $bg-color; }

.cases__row--video {
  .container {
    grid-template-columns: 25% 50% 25%;
  }
  .video {
    margin-top: 81px;
  }
  iframe{
    width: 100%;
    height: 390px;
  }
}

.cases__row--page,
.cases__row--archive {
  background-color: white;
}

.cases__row--archive {
  padding-bottom: 54px;

  .card__case--page { margin-bottom: 54px; }
}

.cases__row {
  h2 { margin-bottom: 27px; }

  &.video {
    background-color: $base-color;
    height:  361px;
    margin-top: 81px;
    padding-left: 0;
    padding-right: 0;
    iframe {
      width: 100%;
      height: 361px;
    }
  }
}

.clients-page {
  background-color: white;
}

.case-img-list__img { margin-bottom: 54px; }
