// Flexbox Safari Fallback Support
 @supports not (display:grid){
   .contact__main {
     .container {
       display: flex;
       flex-flow: row wrap;
  		 justify-content: flex-start;
       padding: 5px;

       .main-bio {
         flex: 1;
         margin: 5px;
         width: 50%;
       }

       .main-photo {
         flex: 1;
         margin: 5px;
         width: 33%;
       }
     }
   }

   .contact__row {
     .container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       padding: 5px;

       .card-contact {
         flex: 1;
         margin: 5px;
       }
     }
   }

   .contact-staff {
     .container {
       display: flex;

       .contact-col {
         flex: 1;
       }
     }
   }
 }

.contact__main {
  background-color: white;

  .container {
    display: grid;
    grid-template-columns: 50% 33%;
    grid-gap: 80px;
  }

  &.michael {
    background-color: $bg-color;

    .container {
      grid-template-columns: 40% 50%;
    }
  }

  .main-bio {
    h3 {
      line-height: 40.5px;
      margin: 0;
    }
    h4 { font-weight: 300; }

    p { margin: 13.5px 0;}
  }

  .main-photo {
    margin-top: 27px;
  }
}

.contact__row {
  background-color: white;

  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
  }
}

.card-contact {
  height: 400px;
}

.contact-staff {
  background-color: $bg-color;

  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
  }
}

.contact-col {

  .contact-list li {
    margin-bottom: 27px;
  }

  ul ul {
    margin-bottom: 27px;
  }

}
