.contact {

  background-image: linear-gradient(45deg, $accent-color 0%, lighten($accent-color, 15%) 100%);
  //background-color: $accent-color; //darken($bg-color, 30%);
  color: $bg-color;

  h2 { color: white; }

  .btn {
    border-color: $base-color;
  }
}

form {
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  width: 50%;

  @include tablet {
    width: 85%;
  }

  @include mobile {
    width: 100%;
  }
}

.form-control {
  height: 54px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

@supports not (display: grid) {
  footer {
    .container {
      display: flex;
      align-items: top;
      justify-content: center;

      div {
        flex: 0 0 calc(24% - #{$gap}/2);
        margin: $gap/4;
      }
    }
  }
}

footer {
  background-color: #4a4a4a;
  color: $bg-color;
  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    @include sm-desktop {
      grid-template-columns: 33% 33%;
      grid-gap: 50px;
    }
  }
}

footer a {
  color: $bg-color;
}

.footer__brand {
  margin-top: -37px;


  svg {
    @include sm-desktop {
      width: 67%;
    }
  }
}
