.block {
  padding: 108px 0 108px;

  @include mobile {
    padding: 27px 0 54px;
  }
}

.brands {
  background-color: white;
  padding: 0;
}

.contract { text-align: center; }

// #Jumbotron Section

.animate-pop-in {
  animation: pop-in 2s cubic-bezier(.15,1,.35,1) forwards;
  opacity: 0;
  animation-delay: .15s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(.95) translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.arrow {
  bottom: 5%;
  color: white;
  left: 0;
  opacity: .65;
  left:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  right: 0;
  text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 28%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
  80%{
    transform: translateY(-4px);
  }
}

// #About Us Section

.about {
  background-color: $bg-color;
  text-align: center;
}

 .about__hed,
.about__copy,
   .services { opacity: 0; }

// Flexbox Safari Fallback Support
@supports not (display: grid) {
 .about__copy {
   display: flex;
   align-items: top;

   .about__copy-item {
     flex: 0 0 calc(33% - #{$gap});
     margin: $gap/2;
   }
 }

 .services {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   -webkit-flex-wrap: wrap;

   .service { width: 25%; }
 }
}

// CSS Grid -> Main Grid Framework I'm using
.about__copy {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 45px;
  margin: 0 auto;
  width: 80%;

  @include tablet {
    display: block;
  }

  .about__copy-item {
    @include tablet {
      margin: 0 auto;
      width: 75%;
    }

    @include mobile {
      margin-bottom: 27px;
      width: 100%;
    }
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 0 27px;

  @include tablet {
    margin: 27px auto;
  }

  @include mobile {
    display: none;
  }

  .btn { margin: $space-md auto; }
}

.service {
  border-radius: 4px;
  padding: 18px 0;
  text-align: center;
  transition: .25s;

  svg { width: 25%; }

  &:hover { background-color: #fafafa; }

  @include desktop {
    padding: 0 0 27px;
  }

  h4 { width: 100%; }
}

.animate-scroll-pop {
  animation: pop-in 1.25s cubic-bezier(.15,1,.35,1) forwards;
  opacity: 0;
  animation-delay: .15s;
}

.about__copy { animation-delay: .45s;
}

.services { animation-delay: .65s; }

@keyframes scroll-pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(.95) translateY(5rem);
    transform: scale(.95) translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
