

// Homepage Jumbotrons //

.jumbotron__home {
  background-color: $base-color !important;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5));
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h3 { animation-delay: .25s; }

  .cta {
    animation-delay: .3s; }
}

.imgSmall {
  filter: blur(40px);
  left: 0;
  opacity: 1;
  position: absolute;
  top: -160px;
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1.2);
  transition: opacity .3s ease-in-out;
  width: 100%;
}

.jumbotron__hed {
  left: 0;
  margin: 0 auto;
  max-width: 700px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 67%;

  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);

  @include sm-desktop { width: 80%; }
  @include phablet { width: 90%; }
  @include mobile {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

.jumbotron__home-brand {
  height: 100vh;
  position: relative;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.jumbotron__home-brand--custom {
  background: url('../imgs/contract/example-tk.jpg') no-repeat top;
  background-size: cover;
  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5));
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h2 {
    margin: 0 auto;
  }
}

.jumbotron__home-brand--sharp-magazine{
  background: url('../imgs/contempo-jumbotron.jpg') no-repeat top;
  background-size: cover;
}

.jumbotron__home-brand--s-magazine {
  background: url('../imgs/Slide-3.jpg') no-repeat center;
  background-size: cover;
}

.jumbotron,
.jumbotron__hero,
.jumbotron__page {
  margin-bottom: 0;
}

.screen {
  overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.jumbotron__page {
  height: 486px;
  background-size: cover;

  transition: filter .5s;

  -webkit-filter: blur(4px);
     -moz-filter: blur(4px);
       -o-filter: blur(4px);
      -ms-filter: blur(4px);
          filter: blur(4px);

@include sm-desktop { height: 378px; }
@include tablet { height: 324px; }
}


.jumbotron__page--sharp {
  background: url('../imgs/sharp/sharp-desktop.jpg') no-repeat top;
  background-size: cover;
}

.jumbotron__page--smag {
  background: url('../imgs/Slide-3.jpg') no-repeat center;
  margin-bottom: 108px;
}

.jumbotron__page--contract{
  background: url('../imgs/contract/example-tk.jpg') no-repeat top;
  background-size: cover;
}

// Brands Page Jumbotrons //

.jumbotron__page--brands {
	background: url('../imgs/contempo-jumbotron.jpg') no-repeat center;
	background-size: cover;
	background-position: center;

	h1, h3 {
		background: transparent;
	}
}

.jumbotron__page--hed {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 50%;
  text-align: center;
  width: 45%;

-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

// Carousel Jumbotrons //
.brand-carousel {
	background-image: none;
	padding: 0;
  max-height: 90vh;
  overflow: hidden;
}

.item {
	width: 100%;
	&:before {
    background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8));
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

	img {
		width: 100%;
	}
}

.carousel-caption {
  font-weight: 300;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  text-align: center;
  top: 50%;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

  &.scroll {
    opacity: 0;
    top: 25%;
  }

  .logo {
    width: 25%;
    margin: 0 auto 27px auto;
  }

  .logo__sharp-magazine {
    max-height: 108px;
  }

  .sharp-watch {
    width: 45%;
  }

  h3 {
    font-weight: 300;
    margin: 0 auto 40.5px;
    width: 45%;
   }
}
