/***    Typography    ***/

@font-face {
	font-family: 'Calibre Regular';

	src: url(/fonts/calibre/Calibre-Regular.eot);
	src: url(/fonts/calibre/Calibre-Regular.woff) format('woff'),
	     url(/fonts/calibre/Calibre-Regular.svg#Calibre-Regular) format('svg');

	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Mercury';

	src: url('/fonts/mercury-display/MercuryDisplay-Bold.eot');
	src: url('/fonts/mercury-display/MercuryDisplay-Bold.ttf') format('truetype'),
			 url('/fonts/mercury-display/MercuryDisplay-Bold.woff') format('woff'), url('/fonts/mercury-display/MercuryDisplay-Bold.svg#MercuryDisplay-Bold') format('woff');
}

$font-stack: 'Calibre Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-stack: /*'Mercury',*/ Georgia, Times New Roman, Times, Serif;

body {
	color: $base-color;
	font-family: $font-stack;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: .45px;
	line-height: 27px;

}
strong { font-family: $font-stack; }

h1,
h2 {
	font-family: $heading-stack;
	font-weight: 400;
}

h1 {
	font-size: 76px;
	line-height: 81px;

	@include desktop {
		font-size: 47px;
		line-height: 54px;
	}
}

h2 {
	font-size: 47px;
	line-height: 54px;
	margin: 27px 0 54px 0;

	@include tablet {
		font-size: 29px;
		line-height: 40.5px;
	}
}

h3 {
	font-size: 29px;
	font-weight: 300;
	line-height: 40.5px;
	margin-bottom: 27px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin: 0;
}

h5 {
	color: $accent-color;
	font-weight: 300;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
	margin-top: $space;
	&:first-of-type{
		margin-top: 0;
	}
}

.jumbotron h1,
.jumbotron h3 {
	color: white;
	margin-bottom: 27px;
}

.jumbotron h3 {
	@include tablet {
		font-size: 18px;
		line-height: 27px;
	}
	@include mobile {
		margin-bottom: 13px;
	}
}

h2.block-hed,
h3.block-hed {
	text-align: center;
	margin: 0 auto $space-md auto;
	width: 75%;

	@include mobile {
		width: 90%;
	}
}

.card-info__content h2 { margin-bottom: 27px; }

.card-inline__info h3 {
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 8px;

	@include sm-desktop {
		font-size: 27px;
		line-height: 27px;
	}

	@include mobile {
		margin-top: 18px;
	}

	a {
		color: $base-color;
		&:hover {
	  	color: darken($base-color, 10%);
			text-decoration: underline;
	  }
	}
}

.card-inline__info h4 {
	color: lighten($base-color, 25%);
	line-height: 27px;

	@include sm-desktop {
		letter-spacing: 0px;
		line-height: 20px;
	}
}

.card-inline__info p { margin: 13px 0; }

.grid__brand-info {
	h3 { margin-bottom: 0; }
}


a {
	color: $accent-color;
	text-decoration: none;
	&:hover {
  	color: lighten($accent-color, 15%);
  }
}

.post-meta { color: lighten($base-color, 25%); }
