$space-big:     81px;
 $space-md:     54px;
    $space:     27px;

      $gap:     20px;

$accent-color:  #D75C37;
    $bg-color:  #F5F5F5;
  $base-color:  #6a6b6c;
  $light-blue:  #C3D7DF;



 $mobile-width: 480px;
$phablet-width: 580px;
 $tablet-width: 768px;
   $sm-desktop: 990px;
$desktop-width: 1281px;
