
@import "vendor/bootstrap/bootstrap", "vendor/slick";

@import "partials/variables", "mixins/mixins", "partials/typography", "partials/card", "partials/buttons", "partials/slick", "partials/nav", "partials/home", "partials/jumbotron", "partials/client-carousel",   "partials/case-studies", "partials/page-head", "partials/grid-elements", "partials/brand-info", "partials/brand-carousel",  "partials/contact", "partials/posts", "partials/footer", "partials/modernizr";

* { box-sizing: border-box; }

html {
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body { background-color: $bg-color;
  &.blog,
  &.single { background-color: white; }

  &.blog {
    .container { margin-bottom: 108px;}
  }
}

.inset {
  padding: 0 115px 0 115px;

  @include sm-desktop {
    padding: 0 30px 0 30px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}


//Modernizr Fallbacks
.no-js{
  .scroll {
    opacity: 1;
  }
}
